---
const { title, description } = Astro.props;
---

<div class="grid place-items-center gap-5 pb-10 md:flex md:items-center">
  <span
    class="text-3xl sm:text-5xl p-4 font-medium bg-verde-200 rounded-md text-white text-nowrap"
  >
    {title}
  </span>
  <p class="text-xl font-normal text-center xl:text-start">
    {description}
  </p>
</div>
