---
import BannerItem from "../shared/BannerItem.astro";
import Container from "../shared/Container.astro";

const texto = [
  {
    texto: "Consultoría estratégica",
  },
  {
    texto: "Transformación digital",
  },
  {
    texto: "Marketing de contenidos",
  },
];
---

<div class="grid place-items-center w-full">
  <span class="border-b-[3px] border-violet-500 w-[40%] mt-10"></span>
  <div
    class="flex flex-col md:flex-row justify-center items-center gap-2 md:gap-8 my-8 md:w-[95%] lg:w-[87%] xl:w-[80%]"
  >
    {texto.map((text) => <BannerItem text={text.texto} />)}
  </div>
  <span class="border-t-[3px] border-violet-500 w-[40%]"></span>
</div>
