---
import FormContacto from "../preact/FormContacto";
import Container from "../shared/Container.astro";
import Topic from "../shared/Topic.astro";
---

<span id="contacto"></span>
<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Contacto" />
  </div>
  <FormContacto client:only="preact" />
</Container>
