---
import Container from "../shared/Container.astro";
import BtnContacto from "../shared/BtnContacto.astro";
---

<div class="bg-[url('/img/hero2.avif')] bg-no-repeat bg-cover bg-top">
  <Container>
    <div
      class="relative h-dvh flex flex-col-reverse items-center md:flex-row"
      id="hero"
    >
      <div class="row items-center py-5 md:w-full">
        <div class="text-left space-y-3 mb-10">
          <h1
            class="text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl text-nowrap font-medium leading-none"
          >
            Somos el socio <br /> digital de los
            <br /> negocios de Seguros

            <!-- Navigating the <br /> digital landscape <br /> for success -->
          </h1>
          <p class="mt-6 mb-8 text-2xl font-medium leading-7 sm:mb-1">
            Te acompañamos en el proceso de transformación y comercialización
            digital de seguros.
          </p>
        </div>
        <BtnContacto texto="Hace crecer tu negocio" />
      </div>
    </div>
  </Container>
</div>
