---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
import Testimonial from "../components/Testimonial.astro";
import Contact from "../components/Contact.astro";
import Case from "../components/Case.astro";
import FormContacto from "../components/preact/FormContacto";
import Clientes from "../components/Clientes.astro";
---

<Layout title="Positivus">
  <main class="space-y-20">
    <Hero />
    <Services />
    <!-- <Case /> -->
    <Team />
    <Clientes />
    <!-- <Testimonial /> -->

    <Contact />
  </main>
</Layout>
