---
import Container from "../components/shared/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Panambi - Servicios">
  <main class="h-dvh bg-violeta-300/10"></main>
</Layout>
