---
import Container from "./shared/Container.astro";
import BtnContacto from "./shared/BtnContacto.astro";
---

<Container>
  <div
    class="relative h-dvh flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class="row items-center py-5 md:w-full">
      <div class="text-left space-y-3 mb-10">
        <h1
          class="text-5xl font-medium leading-none md:text-6xl lg:text-7xl 2xl:text-8xl"
        >
          Sumate a la <br />transformación digital
          <br /> en Seguros
          <!-- Navigating the <br /> digital landscape <br /> for success -->
        </h1>
        <!-- <p class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12">
          Nuestra agencia de marketing digital ayuda a las empresas a crecer y
          alcanzar el éxito ONLINE a través de una gama de servicios 
        </p> -->
      </div>
      <BtnContacto texto="Agenda una reunión" />
    </div>
    <div class="flex items-center py-5 w-full -z-10">
      <span
        class="absolute top-[3%] left-[650px] 2xl:left-[900px] w-[1000px] 2xl:w-[1200px] h-[calc(100dvh-20%)] -z-10 border border-black rounded-[45px] shadow-card bg-[url('/img/hero.avif')] lg:bg-contain 2xl:bg-cover bg-no-repeat lg:bg-[left_0px_top_0px] 2xl:bg-[left_-50px_top_0px]"
      >
        <!-- <img
          class="object-cover w-full h-full"
          src="img/hero.avif"
          alt="Hero"
        /> -->
      </span>
    </div>
  </div>
</Container>
