---
const { title, description } = Astro.props;
---

<div
  class="grid place-items-center gap-5 mb-10 xl:flex xl:justify-center xl:items-center mx-auto"
>
  <span
    class="text-4xl sm:text-6xl p-4 font-medium bg-verde-200 rounded-md text-white text-nowrap"
  >
    {title}
  </span>
  <p class="text-xl font-normal text-center xl:text-start">
    {description}
  </p>
</div>
